.button {
  border-color: #00bc77;
  background-color: #00bc77;
  font-weight: bold;
  color: #fff;

  &-block {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}
