@use "../../styles/mixins.scss" as m;

.hero {
  position: relative;
  height: 300px;
  overflow: hidden;

  @include m.desktop {
    height: 400px;
  }

  &__img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    top: 2rem;
    width: 200px;
    background: white;
    padding: 2rem;
    text-align: left;
    margin: 0 auto;

    @include m.desktop {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 300px;
      margin: 2rem;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;

    @include m.desktop {
      font-size: 1.5rem;
    }
  }

  &__text {
    margin-bottom: 0;
    font-size: 0.9rem;

    @include m.desktop {
      font-size: 1.2rem;
    }
  }
}
