.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  &__item {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    margin-right: 0.5rem;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      color: #42b983;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    &__image {
      max-width: 100%;
      width: 200px;
    }
  }
}
