.profile-header {
  color: #fff;
  margin-bottom: 2rem;
  width: 255px;
  margin: 0 auto;
  padding: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    .field {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      width: 100%;
      &__input {
        width: 150px;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;

    & .button {
      width: 50%;
    }
  }
}
